body {
    background-color: blueviolet;
}
div .main-template-title{
    border-color: blue;
    border-style: dotted;
}

div .main-template-content{
    border-color: blue;
}

div .qr-and-name{
    font-family: 'gemina-semi-italic-semi-italic', sans-serif;
}