body {
    background-color: white;
}

.tridiview{
    background-color: aqua;
    list-style: none;
}
.main-part{
    display: inline;
}

.main-template-title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 500px;
    font-size: 15px;
    line-height: 17px;
}

.main-template-content{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 500px;
    font-size: 15px;
    line-height: 17px;
}

.qr-and-name{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}